*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
h1{
    text-align: center;
}

h2{
    padding-left:50px;
}
.bottom{
    border: 1px solid black;
    width: 200px;
    
    
    
    

}
footer{
    background-color: pink;
    padding-top: 40px;
    text-align: center;
}
#second{
    padding-top: 150px;
}
#first{
padding-right: 40px;
}
#third{
    padding-left: 20px;
}