*{
    box-sizing: border-box;
}



body{
    margin: 0;
    padding: 0;
}



#container{
    
    height: 120vh;
    display: grid;
    grid-template-columns:1fr 4fr ;
    background-color: grey;
    padding: 0.5rem;
}



#sidebar{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(8,1fr);
    
    gap: 0.5rem;
    padding-inline: 0.5rem;

}
    
#sidebar>*{
    border:1px solid black ;
}
 

#sidebar .clear{
grid-column: 1/-1;
padding: 0.5rem;

}   

#sidebar .clear button{
   border-radius: 0.5rem; 
    height:100%;
    width: 100%;
}

.color{
background-color: white;
border: 1px solid black;
cursor: pointer;
}

#main{
    display: grid;
    
    grid-template-columns:repeat(60,1fr) ;
}

#main >*{
   border: 1px solid lightgray; 
   background-color: white;

}