



.grid-container{
    
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    
    background-color: gray;
    width:20vw;
    height:50vh;
    padding: 10px;
    
}

.second{
    display: table-row-group ;
    grid-template-columns: 1fr ;
   
 
 
}


.grid-item{
    border: 1px solid black;
  
    margin: 5px;
   
}
.head{
   
   display: grid;
   grid-template-columns: auto;
    
    
    width:70vw;
    height:67vh;
    background-color: gray;
}

#button{
    padding-left: 120px;
  
}


    

   
